<!--Ini loan_step2.html-->
{% extends "base.html" %}

{% block title %}Loan Agreement Search - Step 1{% endblock %}

{% block content %}

 <!--LOAN HEADER SECTION-->
    <nav class="nav mb-3 d-flex gap-0 justify-content-center step-style">
        <a class="nav-link step-item arrow-shape" href="{{ url_for('loan_step1') }}">
            <span class="postion-absolute">STEP 1</span>
        </a>
         <a class="nav-link step-item arrow-shape" href="{{ url_for('loan_step2') }}">            
            <span class="postion-absolute">STEP 2</span>
        </a>       
         <a class="nav-link step-item arrow-shape" href="{{ url_for('loan_step3') }}">
            <span>STEP 3</span>
        </a>
    </nav>

    <div class="d-flex justify-content-between button-header-loan">
        <button class="btn"> <a href="{{ url_for('loan_step1') }}">Prev</a></button>
        <button class="btn"><a href="{{ url_for('loan_step3') }}">Next</a></button>
    </div>

   <!--END OF LOAN HEADER SECTION--> 
   
    <!--Main LOAN area-->
    <div class="d-flex justify-content-end pe-2 mt-2 mb-2">
        <div class="dropdown">
            <button class="btn card3-button2 dropdown-toggle-custom d-flex align-items-center gap-2" type="button" id="displayColumnsDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                <i class="fas fa-columns"></i> Display Columns
            </button>
            
            <ul class="dropdown-menu shadow p-2 mt-1 column-dropdown-menu" aria-labelledby="displayColumnsDropdown">
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_functional">
                        <label class="form-check-label text-secondary" for="col_functional">Functional Analysis</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_type" checked>
                        <label class="form-check-label text-secondary" for="col_type">Transaction Involving transfer of rightds in intangibles</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_licensor" checked>
                        <label class="form-check-label text-secondary" for="col_licensor">Transaction Involving Transfer of Intangible</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_licensor_act" checked>
                        <label class="form-check-label text-secondary" for="col_licensor_act">Transaction Involving Transfer of Intangibles in Connection
                             with the sale of goods or the provision of services(no rights in intangibles are acquired)</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_licensee" checked>
                        <label class="form-check-label text-secondary" for="col_licensee">Royalty rate</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_licensee_act" checked>
                        <label class="form-check-label text-secondary" for="col_licensee_act">Base</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_desc" checked>
                        <label class="form-check-label text-secondary" for="col_desc">other payments</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_geo" checked>
                        <label class="form-check-label text-secondary" for="col_geo">Compensation Details</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_date_agree" checked>
                        <label class="form-check-label text-secondary" for="col_date_agree">Document Title</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_effective" checked>
                        <label class="form-check-label text-secondary" for="col_effective">Patent/Trademark No.</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_cessation" checked>
                        <label class="form-check-label text-secondary" for="col_cessation">patent/trademark synopsis</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="col_duration" checked>
                        <label class="form-check-label text-secondary" for="col_duration">Duration Terms</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="card p-3 mt-2 table-loan2">
    <table class="table table-loan2 table-bordered table-hover table-loan2-inner">
        <thead class="text-center">
            <tr>
                <th>
                    <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                        <div class="d-flex gap-2">
                            <div>Search Result</div>
                            <div class="kolom1">100</div>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <i class="fas fa-circle text-success"></i><span> Aceppted</span>
                            <div class="kolom1">0</div>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <i class="fas fa-circle text-danger"></i><span> Rejected</span>
                            <div class="kolom1">0</div>
                        </div>
                    </div>
                </th>
                <th>Comments</th>
                <th>No</th>
                <th>preview</th>
                <th>Transaction Involving Transfers of Rights in Intangibles</th>
                <th>Transaction Involving Transfer of Intangibles</th>
                <th>Transaction Involving The Use Of Intangibles In Conenection With The Sale of Goods Or The Provosion os Services (No Rights in Intangibles Are Acquired) </th>
                <th>Royalty Rate</th>
                <th>Base</th>
                <th>Other Payments</th>
                <th>Compensation Details</th>
                <th>Document Title</th>
                <th>Patent/Trademark No.</th>
                <th>Patent/Trademark Synopsis</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td><input type="checkbox"></td>
                <td><textarea name="" id="" style="width: 100px;"></textarea></td>
                <td>1.</td>
                <td><i class="fas fa-eye"></i></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td>5,00%</td>
                <td></td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed optio molestias deserunt quos quasi similique dolores? Magni qui dolores itaque ratione! Fuga asperiores laborum repellat, numquam sed cumque possimus iste!</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ut, nisi, atque quidem itaque quia consequatur architecto, fugit vero fuga consequuntur reiciendis placeat pariatur tempore id. Unde veniam labore quis!</td>
                <td>TerraSphere License Agreement</td>
                <td>US20006019196118, 72394013704324, US91491793713, WO107307417490174, CA73947204710374</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet atque aliquam laborum in mollitia magnam, totam minima qui nesciunt accusantium neque quam quos dolores nihil aspernatur ipsum enim! Sequi, amet.</td>
            </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td><textarea name="" id="" style="width: 100px;"></textarea></td>
                <td>1.</td>
                <td><i class="fas fa-eye"></i></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td>5,00%</td>
                <td></td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed optio molestias deserunt quos quasi similique dolores? Magni qui dolores itaque ratione! Fuga asperiores laborum repellat, numquam sed cumque possimus iste!</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ut, nisi, atque quidem itaque quia consequatur architecto, fugit vero fuga consequuntur reiciendis placeat pariatur tempore id. Unde veniam labore quis!</td>
                <td>TerraSphere License Agreement</td>
                <td>US20006019196118, 72394013704324, US91491793713, WO107307417490174, CA73947204710374</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet atque aliquam laborum in mollitia magnam, totam minima qui nesciunt accusantium neque quam quos dolores nihil aspernatur ipsum enim! Sequi, amet.</td>
            </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td><textarea name="" id="" style="width: 100px;"></textarea></td>
                <td>1.</td>
                <td><i class="fas fa-eye"></i></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td>5,00%</td>
                <td></td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed optio molestias deserunt quos quasi similique dolores? Magni qui dolores itaque ratione! Fuga asperiores laborum repellat, numquam sed cumque possimus iste!</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ut, nisi, atque quidem itaque quia consequatur architecto, fugit vero fuga consequuntur reiciendis placeat pariatur tempore id. Unde veniam labore quis!</td>
                <td>TerraSphere License Agreement</td>
                <td>US20006019196118, 72394013704324, US91491793713, WO107307417490174, CA73947204710374</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet atque aliquam laborum in mollitia magnam, totam minima qui nesciunt accusantium neque quam quos dolores nihil aspernatur ipsum enim! Sequi, amet.</td>
            </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td><textarea name="" id="" style="width: 100px;"></textarea></td>
                <td>1.</td>
                <td><i class="fas fa-eye"></i></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td>5,00%</td>
                <td></td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed optio molestias deserunt quos quasi similique dolores? Magni qui dolores itaque ratione! Fuga asperiores laborum repellat, numquam sed cumque possimus iste!</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ut, nisi, atque quidem itaque quia consequatur architecto, fugit vero fuga consequuntur reiciendis placeat pariatur tempore id. Unde veniam labore quis!</td>
                <td>TerraSphere License Agreement</td>
                <td>US20006019196118, 72394013704324, US91491793713, WO107307417490174, CA73947204710374</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet atque aliquam laborum in mollitia magnam, totam minima qui nesciunt accusantium neque quam quos dolores nihil aspernatur ipsum enim! Sequi, amet.</td>
            </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td><textarea name="" id="" style="width: 100px;"></textarea></td>
                <td>1.</td>
                <td><i class="fas fa-eye"></i></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td>5,00%</td>
                <td></td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed optio molestias deserunt quos quasi similique dolores? Magni qui dolores itaque ratione! Fuga asperiores laborum repellat, numquam sed cumque possimus iste!</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ut, nisi, atque quidem itaque quia consequatur architecto, fugit vero fuga consequuntur reiciendis placeat pariatur tempore id. Unde veniam labore quis!</td>
                <td>TerraSphere License Agreement</td>
                <td>US20006019196118, 72394013704324, US91491793713, WO107307417490174, CA73947204710374</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet atque aliquam laborum in mollitia magnam, totam minima qui nesciunt accusantium neque quam quos dolores nihil aspernatur ipsum enim! Sequi, amet.</td>
            </tr>
        </tbody>
    </table>
   </div>


    

    <!--end of main loan area-->
{% endblock %}