<!--Ini loan_step3.html-->
{% extends "base.html" %}

{% block title %}Loan Agreement Search - Step 1{% endblock %}

{% block content %}

 <!--LOAN HEADER SECTION-->
      <nav class="nav mb-3 d-flex gap-0 justify-content-center step-style">
        <a class="nav-link step-item arrow-shape" href="{{ url_for('loan_step1') }}">
            <span class="postion-absolute">STEP 1</span>
        </a>
         <a class="nav-link step-item arrow-shape" href="{{ url_for('loan_step2') }}">            
            <span class="postion-absolute">STEP 2</span>
        </a>       
         <a class="nav-link step-item arrow-shape" href="{{ url_for('loan_step3') }}">
            <span>STEP 3</span>
        </a>
    </nav>

    <div class="d-flex justify-content-between button-header-loan">
        <button class="btn"> <a href="{{ url_for('loan_step2') }}">Prev</a></button>
        <button class="btn"><a href="{{ url_for('loan_step3') }}">Next</a></button>
    </div>
   <!--END OF LOAN HEADER SECTION--> 
   
    <!--Main LOAN area-->
    <div class="row pt-3 g-1">
        <div class="col-md-9 gap-0">
            <div class="card h-100">
                <div class="table-loan3">
                <table class="table text-center table table-bordered table-hover table-loan3-inner">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>preview</th>
                            <th>Unique code</th>
                            <th>Description of Object</th>
                            <th>Royalty Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-link p-0 text-secondary preview-btn" data-bs-toggle="modal" data-bs-target="#previewModalStep3">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>RTD09123001</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quos quo, praesentium odio dolore quis eos illum voluptatibus harum reiciendis facilis suscipit ex id soluta inventore officiis ad dolores optio . Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, quidem id. Eos libero odio doloribus consequuntur sunt minus ad, asperiores at. Quo aliquam laudantium totam sapiente sit id natus cupiditate. lore</td>
                            <td>1,00%</td>
                        </tr>
                           <tr>
                            <td>1.</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-link p-0 text-secondary preview-btn" data-bs-toggle="modal" data-bs-target="#previewModalStep3">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>RTD09123001</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quos quo, praesentium odio dolore quis eos illum voluptatibus harum reiciendis facilis suscipit ex id soluta inventore officiis ad dolores optio . Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, quidem id. Eos libero odio doloribus consequuntur sunt minus ad, asperiores at. Quo aliquam laudantium totam sapiente sit id natus cupiditate. lore</td>
                            <td>1,00%</td>
                        </tr>
                           <tr>
                            <td>1.</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-link p-0 text-secondary preview-btn" data-bs-toggle="modal" data-bs-target="#previewModalStep3">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>RTD09123001</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quos quo, praesentium odio dolore quis eos illum voluptatibus harum reiciendis facilis suscipit ex id soluta inventore officiis ad dolores optio . Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, quidem id. Eos libero odio doloribus consequuntur sunt minus ad, asperiores at. Quo aliquam laudantium totam sapiente sit id natus cupiditate. lore</td>
                            <td>1,00%</td>
                        </tr>
                           <tr>
                            <td>1.</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-link p-0 text-secondary preview-btn" data-bs-toggle="modal" data-bs-target="#previewModalStep3">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>RTD09123001</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quos quo, praesentium odio dolore quis eos illum voluptatibus harum reiciendis facilis suscipit ex id soluta inventore officiis ad dolores optio . Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, quidem id. Eos libero odio doloribus consequuntur sunt minus ad, asperiores at. Quo aliquam laudantium totam sapiente sit id natus cupiditate. lore</td>
                            <td>1,00%</td>
                        </tr>
                           <tr>
                            <td>1.</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-link p-0 text-secondary preview-btn" data-bs-toggle="modal" data-bs-target="#previewModalStep3">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>RTD09123001</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quos quo, praesentium odio dolore quis eos illum voluptatibus harum reiciendis facilis suscipit ex id soluta inventore officiis ad dolores optio . Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, quidem id. Eos libero odio doloribus consequuntur sunt minus ad, asperiores at. Quo aliquam laudantium totam sapiente sit id natus cupiditate. lore</td>
                            <td>1,00%</td>
                        </tr>
                           <tr>
                            <td>1.</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-link p-0 text-secondary preview-btn" data-bs-toggle="modal" data-bs-target="#previewModalStep3">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>RTD09123001</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quos quo, praesentium odio dolore quis eos illum voluptatibus harum reiciendis facilis suscipit ex id soluta inventore officiis ad dolores optio . Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, quidem id. Eos libero odio doloribus consequuntur sunt minus ad, asperiores at. Quo aliquam laudantium totam sapiente sit id natus cupiditate. lore</td>
                            <td>1,00%</td>
                        </tr>
                             <tr>
                            <td>1.</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-link p-0 text-secondary preview-btn" data-bs-toggle="modal" data-bs-target="#previewModalStep3">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>RTD09123001</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quos quo, praesentium odio dolore quis eos illum voluptatibus harum reiciendis facilis suscipit ex id soluta inventore officiis ad dolores optio . Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, quidem id. Eos libero odio doloribus consequuntur sunt minus ad, asperiores at. Quo aliquam laudantium totam sapiente sit id natus cupiditate. lore</td>
                            <td>1,00%</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="text-center fw-bold p-1 ">Search Strategy</div>
                <table class="table mb-0 card1">
                    <thead class="border-0">
                        <tr>
                            <th class="fw-semibold border-0 text-center">Criteria</th>
                            <th class="fw-semibold border-0 text-end">Search Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1. All Companies to be analyzed</td>
                            <td class="text-end">500</td>
                        </tr>
                        <tr>
                            <td>2. Hasil step 2</td>
                            <td class="text-end">365</td>
                        </tr>
                         <tr>
                            <td>3. Hasil step 1 kriteria a</td>
                            <td class="text-end">165</td>
                        </tr>
                         <tr>
                            <td>4.Hasil stepp 2</td>
                            <td class="text-end">84</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-end">Total:</th>
                            <th class="text-end">84</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-2 mb-3 mt-2 justify-content-center">
                        <button class="btn card3-button2 w-100 d-flex justify-content-center align-items-center gap-2">
                            <i class="fas fa-file-alt"></i> Study Report
                        </button>
                        <button class="btn card3-button2 w-100 d-flex justify-content-center align-items-center gap-2">
                            <i class="fas fa-file-alt"></i> Study Report
                        </button>
                    </div>
                    <div class="card mt-1 border-0">
                        <div style="height: fit-content;">
                        <table class="table  table-color">
                            <thead class="text-center">
                                <tr>
                                    <th>Range</th>
                                    <th>Royalti Rate</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>Maximun</td>
                                    <td>33,1175</td>
                                </tr>
                                 <tr>
                                    <td>Upper Quartile</td>
                                    <td>15,30125</td>
                                </tr>
                                 <tr>
                                    <td>Median</td>
                                    <td>2,97875</td>
                                </tr>
                                 <tr>
                                    <td>Lower Quartile</td>
                                    <td>0</td>
                                </tr>
                                 <tr>
                                    <td>Minimun</td>
                                    <td>-38,515</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    


    <!-- Modal Preview Step 3 -->
    <div class="modal fade" id="previewModalStep3" tabindex="-1" aria-labelledby="previewModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content border-0 shadow-lg" style="border-radius: 12px; max-height: 90vh;">
            
            <div class="modal-header border-0 pb-2">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body px-4 pb-4 pt-0">
                
                <div class="step3-main-header">I. Identification of intangibles and legal owner of intangibles</div>

                <div class="step3-sub-header">General</div>
                <div class="step3-data-container">
                    <div class="preview-row">
                        <div class="preview-label">Unique code</div>
                        <div class="preview-value">SHA5122546137891</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Type</div>
                        <div class="preview-value">License, Trademark, Pattent, Technology</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Licensor</div>
                        <div class="preview-value">LLC</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Licensee</div>
                        <div class="preview-value">Urban Trademark</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Description of object</div>
                        <div class="preview-value text-justify">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type book.</div>
                    </div>
                </div>

                <div class="step3-sub-header">Limitations</div>
                <div class="step3-data-container">
                    <div class="preview-row">
                        <div class="preview-label">Unique code</div>
                        <div class="preview-value">SHA5122546137891</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Type</div>
                        <div class="preview-value">License, Trademark, Pattent, Technology</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Licensor</div>
                        <div class="preview-value">LLC</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Licensee</div>
                        <div class="preview-value">Urban Trademark</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Description of object</div>
                        <div class="preview-value text-justify">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type book.</div>
                    </div>
                </div>

                <div class="step3-sub-header">General</div>
                <div class="step3-data-container">
                    <div class="preview-row">
                        <div class="preview-label">Unique code</div>
                        <div class="preview-value">SHA5122546137891</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Type</div>
                        <div class="preview-value">License, Trademark, Pattent, Technology</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Licensor</div>
                        <div class="preview-value">LLC</div>
                    </div>
                </div>

                <div class="step3-main-header mt-4">II. Identification of intangibles and legal owner of intangibles</div>

                <div class="step3-sub-header">General</div>
                <div class="step3-data-container">
                    <div class="preview-row">
                        <div class="preview-label">Unique code</div>
                        <div class="preview-value">SHA5122546137891</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Type</div>
                        <div class="preview-value">License, Trademark, Pattent, Technology</div>
                    </div>
                </div>

                <div class="step3-sub-header">Limitations</div>
                <div class="step3-data-container">
                    <div class="preview-row">
                        <div class="preview-label">Unique code</div>
                        <div class="preview-value">SHA5122546137891</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Type</div>
                        <div class="preview-value">License, Trademark, Pattent, Technology</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Licensor</div>
                        <div class="preview-value">LLC</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Licensee</div>
                        <div class="preview-value">Urban Trademark</div>
                    </div>
                    <div class="preview-row">
                        <div class="preview-label">Description of object</div>
                        <div class="preview-value text-justify">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type book.</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    

    <!--end of main loan area-->
{% endblock %}