/* Global Reset */
*{
    box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Sidebar Style */
.sidebar {
  width: 200px;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
  text-align: center;
  padding-bottom: 100px;
}

/* Ikon dan Teks Vertikal */
.nav-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icon-text i {
  font-size: 22px;
  margin-bottom: 5px;
}

/* Default link */
.sidebar .nav-link {
  color: #939292;
  padding: 15px 10px;
  transition: background 0.2s, color 0.2s;
  border-radius: 8px;
}

/* Hover effect */
.sidebar .nav-link:hover {
  background-color: #c9c9c9;
  color: #939292;
}

/* Active link */
.sidebar .nav-link.active {
  background-color: #e7e4f5;
  color: #5f3dc4;
  font-weight: bold;
}

.sidebar .nav-link.active i {
  color: #5f3dc4;
}


/* Main Content */
.main-content {
  min-height: 100vh;
  transition: margin-left 0.3s;
}

/* Header style */
.header {
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .icon-group i {
  cursor: pointer;
  font-size: 18px;
}

.header .icon-group i:hover {
  color: #ffc107;
}

/*untuk button dan input di header*/
/* style.css */

.compact-input input {
  font-size: 12px;
  padding: 2px 6px;
  height: 15px;
}

.compact-buttons button {
  font-size: 10px;
  height: 20px;
  text-align: center;
}


#toggleSidebar {
  position: fixed;
  top: 70px; /* bawah dari header */
  left: 10px;
  z-index: 9999;
}
